*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: white;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: #1c1c1c;
  --heart-color: #c2465d;
  --bg-color: #254336;
  --txt-color: #333;
  --shadow-color: #504040;
}

.envelope-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}

.envelope-wrapper {
  width: 350px;
  height: 250px;
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.envelope-wrapper.flap .envelope::before {
  transform: rotateX(180deg); /* Open flap animation */
  z-index: 0;
  transition-delay: 0.4s;
}

.envelope-wrapper.flap .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}

.envelope-wrapper.flap .heart {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

.envelope {
  position: relative;
  width: 350px;
  height: 250px;
}

.envelope::before {
  left: 0px;
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 175px solid transparent;
  border-left: 175px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}

.envelope::after {
  left: 0px;
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 175px solid var(--envelope-cover);
  border-bottom: 120px solid var(--envelope-cover);
  border-left: 175px solid var(--envelope-cover);
}

.letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: var(--primary);
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
  font-family: "Caveat", cursive;
  font-style: normal;
  font-size: 11px;
}

.text {
  text-align: justify;
  font-family: "Caveat", cursive !important;
  color: var(--txt-color);
  padding-right: 2px;
}

.text strong {
  font-size: 12px;
}

.text .sincerely {
  text-align: right;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: var(--heart-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  left: 0px;
  top: -7.5px;
}

.heart::after {
  right: 7.5px;
}

/* Envelope and Letter styling */

.arrow-text {
  top: -135px;
  width: 100%;
  position: absolute;
  font-size: 1em;
  color: #000;
  transition: all 3s ease-in-out;
}

/* Blinking arrow styling */
.arrow {
  font-size: 1.2em;
  color: #ff4747;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Dialog overlay styling */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog-content {
  background: white;
  padding: 20px;
  text-align: center;
}
